[include]
  path = ~/personal/.gitconfig
[includeIf "gitdir:~/documents/"]
  path = ~/ctw/.gitconfig

[core]
	editor = nvim
[credential]
	helper = store
[init]
	defaultBranch = master
[url "git@cc-github.bmwgroup.net:"]
	insteadOf = https://cc-github.bmwgroup.net/
[pull]
	rebase = true
