[include]
  path = ~/personal/.gitconfig
[includeIf "gitdir:~/Documents/"]
  path = ~/ctw/.gitconfig
[includeIf "gitdir:/android/"]
  path = ~/ctw/.gitconfig

[core]
	editor = "/opt/nvim-linux-x86_64/bin/nvim"
	protectNTFS = false
	longpaths = true
[credential]
	helper = store
[init]
	defaultBranch = master
#[url "git@cc-github.bmwgroup.net:"]
#	insteadOf = https://cc-github.bmwgroup.net/
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = rodrigo.ramos@ctw.bmwgroup.com
	name = Rodrigo Ramos
[safe]
	directory = .repo/repo.tmp
	directory = *
